.modal_button-close {
  background-image: url("../images/close_button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 20px;
  min-width: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  left: calc(100% - 40px);
  bottom: calc(100% - 40px);
}

.modal_image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal_content {
  padding: 0;
  position: relative;
}

.modal_sub-title {
  min-height: 112px;
  height: 100%;
  margin: 10px 20px 20px;
}

.modal_item-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 34px;
}

.modal_weather-type {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
