.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  padding: 32px 20px 0px;
  margin-bottom: 30px;
}

.header_logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header_avatar-logo {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.header_text {
  font-family: "Cabinet Grotesk-Regular", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.header_button {
  background: transparent;
  border: none;
  cursor: pointer;
}
