.clothes {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.clothes_section {
  display: flex;
  align-items: baseline;
}

.clothes_section-text {
  margin: 20px 0;
  padding-right: 20px;
}

.clothes_section-button {
  border: none;
  appearance: none;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  margin: 20px 0;
}

.clothes_section-button:hover {
  color: rgba(0, 0, 0, 0.8);
}

.clothes_section-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 22px 18px;
}
